/* src/App.css */

*{
    margin: 0px;
    padding: 0px;
}
.comment-app {
    display: flex;
    justify-content: space-between;
    padding: auto;
    margin-top: 10px;
    font-size:20px ;
}
  
  .post-list {
    height: 100%;
    width: 40%;
    overflow-y: scroll;
  }
  
  .comment-list {
    height: 100%;
    width: 58%;
    overflow-y: scroll;
  }

.post-filter{
    font-size: large;
  }
  .text-center{
    text-align: center;
  }